@model IList<DatingSite.Models.ProfileModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
    <ul>
        @foreach(var exampleProfile in Model)
        {
            <li>@Html.ActionLink(exampleProfile.Username, "Index", "Profile", new RouteValueDictionary(new {username = exampleProfile.Username}), null) <img src="~/Content/ProfilePictures/@exampleProfile.ImagePath" alt="Profile picture" style="width: 150px; height: 200px; border: 2px solid black; display: table-column"/></li>
        }
    </ul>
    }
    else
    {
        <ul>
            @foreach (var exampleProfile in Model)
            {
            <li>@Html.ActionLink(exampleProfile.Username,"Register","Account")<img src="~/Content/ProfilePictures/@exampleProfile.ImagePath" alt="Profile picture"/></li>
            }
        </ul>
        <h1>Are you ready to find love?</h1>
        @Html.ActionLink("Sign up now!", "Register", "Account", "", new { @class = "btn btn-primary btn-lg" })
    }
</div>
<div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>