@model IList<DatingSite.Models.ProfileModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div>
    </div>
    @if (User.Identity.IsAuthenticated)
    {
    <ul>
        @foreach(var exampleProfile in Model)
        {
            <li class="exampleProfileListItem">@Html.ActionLink(exampleProfile.Username, "Index", "Profile", new RouteValueDictionary(new {username = exampleProfile.Username}), null) <img src="~/Content/ProfilePictures/@exampleProfile.ImagePath" alt="No picture" class ="profilePicture"/></li>
        }
    </ul>
    }
    else
    {
        <ul class="exampleProfileList">
            @foreach (var exampleProfile in Model)
            {
            <li class="exampleProfileListItem">@Html.ActionLink(exampleProfile.Username,"Register","Account", null, new {@class="profile-link"})<img src="~/Content/ProfilePictures/@exampleProfile.ImagePath" alt="No picture" class ="profilePicture"/></li>
            }
        </ul>
        <h1>Are you ready to find love?</h1>
        @Html.ActionLink("Sign up now!", "Register", "Account", "", new { @class = "btn btn-primary btn-lg" })
    }
</div>
<div>
</div>