@model DatingSite.Models.FriendshipModel
@{
    ViewBag.Title = "Index";
}

<h2>Your Friends</h2>

<ul id="friendList">
    @foreach (var f in Model.Friends)
    {
        <li>@Html.ActionLink(f.Username, "Index", "Profile", new RouteValueDictionary(new { username = f.Username }), null) @Html.ActionLink("Unfriend", "DeleteFriendship", "Friendship", new RouteValueDictionary(new { friendId = f.UserAccountID }), null) </li>
    }
</ul>

<div>@Html.Partial("_FriendRequests", Model)</div>

