@model DatingSite.Models.ProfileModel

<!DOCTYPE html>
<body>
    <script>
        $(function () {
            $('#sendMsg').on('click', function () {
                var data = {
                    RecieverUsername: '@Model.Username',
                    SenderUsername: '@User.Identity.Name',
                    Text: $('#textField').val().trim(),
                    TimeStamp: $.now()
                };

                $.ajax({
                    type: "Post",
                    url: "/api/Message/PostMessage",
                    data: JSON.stringify(data),
                    datatype : 'json',
                    contentType: "application/json; charset = utf-8",
                    success: function (d) {
                        location.reload();
                    }
                });
            });
        });
    </script>

    <form id="MessageForm" method="post">
        <div id="PostForm">
            <textarea id="textField" placeholder="Enter a message."></textarea>
            <input id="sendMsg" type="button" value="Send" />
        </div>

    </form>
</body>

@*
        $(function () {
            $('#sendMsg').click(function () {
                var data = {
                    recieverUsername: $('@Model.Username'),
                    senderUsername: $('@User.Identity.Name'),
                    Text: $('#textField').val().trim(),
                    TimeStamp: $.now()
                    };

                    $.ajax({
                    type: "Post",
                    url: "/api/Message/PostMessage",
                    data: JSON.stringify(data),
                    datatype: 'json',
                    success: function (d) {
                    location.reload();
                    }
                    });
                    });
                    });
*@